<!DOCTYPE html>
<mat-card class="back">
  <mat-card-header style="background-color: rgb(198, 204, 240);">
    <label>AVAILABLE  DOCUMENTS</label>
  </mat-card-header>
  <mat-card-content>
    <div    class ="doc" *ngFor="let item of pdfFiles; let i = index">

      <button mat-button color="primary" >({{i+1}}) &nbsp;&nbsp;&nbsp;&nbsp;<a [href]= "mainUrl + item.pdf_file">
       {{ (item.pdf_file).slice(7,-4) }} <mat-icon>play_for_work</mat-icon></a></button><br>

    </div>
</mat-card-content>
</mat-card>












