<!DOCTYPE html>
<div class="welcome">
  <h1> Talking Docs: Give PDFs a Voice with AI</h1>
</div>

<div class="all">
<button mat-button color="primary"><a  routerLink ='/pdfupload'>
  <mat-icon>cloud_upload</mat-icon>
  <br> upload PDF</a></button>
<button mat-button color="primary">
 <a  routerLink ='/pdfview'> <mat-icon>picture_as_pdf</mat-icon><br>View PDF</a></button>
<button mat-button color="primary"> <a  routerLink ='/pdfchat'>
  <mat-icon>phone_android</mat-icon><br>PDF Chat</a></button>
</div><br><br>



<router-outlet></router-outlet>
